</div>
<div class="bg-gray-700 mb-3 m-auto p-3 text-white">
      <div class="container mx-auto">
<h1><%= @repository.name %></h1>

<p>
  <%= @repository.description %>
</p>

<p>
  <strong>size:</strong>
  <%= 0.02 %> MB
</p>
<p>
  <strong>Commit count:</strong>
  <%= 0 %> commits
</p>

<p>
  <strong>git url:</strong>
  <%= @repository.git_url %>
</p>
  </div>
</div>
<div class="container mx-auto">
