.markdown {
  h1 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }
  h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }

  p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  ol {
    padding: 0;
    margin: 0 0 16px;
    list-style-type: decimal;
  }
  li {
    line-height: 1.6em;
    margin-left: 28px;
    padding-left: 0;
  }
}
