Thanks for wanna join Microgit!

Click on the link below to confirm your account.

<%= UserConfirmations::Show.url(token: @user.confirmed_token) %>

If you didn't signup for microgit, you can ignore this email.
