<h1><%=@merge_request.name%></h1
<h2 class="text-xl mt-8">Changes</h2>
<p><%=@diff.size %> Changes </p>

<% @diff.each_patch do |patch|
  patchy = GitDiffParser::Patch.new(patch.to_s, {file: patch.delta.new_file.path})
  %>
  <% render_template "commits/_diff_file.html.ecr" %>
<% end %>
