<h2 class="text-3xl font-bold leading-tight text-gray-900">
  <%=page_title%>
</h2>
<%=MergeRequest::Status.from_value(@merge_request.status)%>
<div class="">
<img src="<%=@merge_request.author.profile_pic_url%>" class="mx-2 h-6 w-6 rounded-full inline-block" />
<span class="inline-block text-gray-600"><%=@merge_request.author.username%> created <%=distance_of_time_in_words(@merge_request.created_at, Time.utc)%> ago</span>
</div>
