<div class="my-3 border-solid border border-gray-400 m-auto rounded">
  <div class="flex flex-wrap">
    <div class="w-full p-3 bg-gray-200 border-b border-gray-400">
      <%=patch.delta.new_file.path %> <%=patch.delta.status%>
    </div>
<div class="w-full p-3">
<% patch.hunks do |hunk| %>
<% hunk.lines do |line| %>
<pre>
<code class="block <%= line_color(line) %>">
<%=file_lines(line)%>
</code>
</pre>
<% end %>
<% end %>
</div>
  </div>
</div>
