<div class="my-3 mb-5 border-solid border border-gray-400 m-auto rounded">
  <div class="flex flex-wrap">
    <div class="w-full p-3 bg-gray-800 border-b bg-white rounded-t text-white border-gray-400">
      Description
    </div>
    <div class="w-full p-3 markdown bg-white rounded-b">
      <%= Markd.to_html(@issue.description) %>
    </div>
  </div>
</div>

<h2>Activity</h2>
<% render_template "activities/_comment_list.html.ecr" %>

<h2>Comment</h2>
